<%- include('../layout/admin/header.ejs') -%>

<div class="main-panel">
    <div class="content-wrapper">
      <div class="row">
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Revenue</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"><i class="fa-solid fa-indian-rupee-sign"></i><%= revenue %></h2>
                  </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-currency-inr text-primary ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Sold Products</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"> <%= soldProducts %></h2>
                  </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-sale text-success ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Users</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"> <%= usersCount %></h2>
                  </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi  mdi-account-group text-danger ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if (data.length != 0 ) { %>
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-dashboard">
            <div style="color: black;" id="chart">  
            </div> 
          </div>   
        </div> 
        <div class="col-lg-6">
          <div class="card card-dashboard">
            <div  id="chart2">  
            </div> 
          </div>   
        </div> 
      </div>
      <% } %>

      <br>
      <div class="row">
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Orders</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"> <%= totalOrders %></h2>
                  </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-format-list-bulleted text-primary ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Delivered</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"> <%= deliveredOrders %></h2>
                  </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-truck-delivery text-success ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 grid-margin">
          <div class="card">
            <div class="card-body">
              <h5>Cancelled</h5>
              <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                  <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <h2 class="mb-0"> <%= cancelledOrders %></h2>
                  </div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                  <i class="icon-lg mdi mdi-cancel text-danger ml-auto"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="monthlySales" data-monthly-order-counts="<%= JSON.stringify(data) %>"></div>
    <div id="paymentMethods" data-payment-method-counts="<%= JSON.stringify(paymentMethodsData) %>"></div>
  
  <script>
//this script code for the monthly sales report chart
      var monthlySales = document.getElementById('monthlySales');
      var monthlyOrderCounts = JSON.parse(monthlySales.getAttribute('data-monthly-order-counts')); 

          var options = {
          series: [{
          name: 'Sales',
          data:monthlyOrderCounts
        }],
          chart: {
          height: 350,
          type: 'bar',
        },
        plotOptions: {
          bar: {
            borderRadius: 10,
            dataLabels: {
              position: 'top',
            },
          }
        },
        dataLabels: {
          enabled: true,
          formatter: function (val) {
            return val + "%";
          },
          offsetY: -20,
          style: {
            fontSize: '12px',
            colors: ["#304758"]
          }
        },
        
        xaxis: {
          categories: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          position: 'top',
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false
          },
          crosshairs: {
            fill: {
              type: 'gradient',
              gradient: {
                colorFrom: '#D8E3F0',
                colorTo: '#BED1E6',
                stops: [0, 100],
                opacityFrom: 0.4,
                opacityTo: 0.5,
              }
            }
          },
          tooltip: {
            enabled: true,
          }
        },
        yaxis: {
          axisBorder: {
            show: false
          },
          axisTicks: {
            show: false,
          },
          labels: {
            show: false,
            formatter: function (val) {
              return val + "%";
            }
          }
        
        },
        title: {
          text: 'Monthly Sales',
          floating: true,
          offsetY: 330,
          align: 'center',
          style: {
            color: '#444'
          }
        }
        };

        var chart = new ApexCharts(document.querySelector("#chart"), options);
        chart.render();
    </script>


    <script>
//this for the payment method chart
      var paymentMethods = document.getElementById('paymentMethods');
      var paymentMethodsCount = JSON.parse(paymentMethods.getAttribute('data-payment-method-counts')); 
      var methods = paymentMethodsCount.map((val)=>val._id)
      var count = paymentMethodsCount.map((val)=>val.count*13)
      var total =paymentMethodsCount.reduce((acc,val)=>acc+val.count,0)

       var options = {
          series: count,
          chart: {
          height: 385,
          type: 'radialBar',
        },
        plotOptions: {
          radialBar: {
            dataLabels: {
              name: {
                fontSize: '22px',
              },
              value: {
                fontSize: '16px',
              },
              total: {
                show: true,
                label: 'Total',
                formatter: function (w) {
                  return total
                }
              }
            }
          }
        },
        labels: methods,
        };

        var chart = new ApexCharts(document.querySelector("#chart2"), options);
        chart.render();
    </script>

<%- include('../layout/admin/footer.ejs') -%>