<%- include('../layout/admin/header.ejs') -%>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <br>
        <br>
        <br>
        <h1 class="card-title">Edit Product</h1>
        <p class="card-description"> Edit product form</p>
          <form action="/admin/editProduct?_id=<%= product._id %>" id="form" class="forms-sample" method="post" enctype="multipart/form-data">  
            <div class="form-group">
                <label for="name">Product Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= product.name %>" style="color: white;">
                <p style="color: red;" id="nameLengthError"></p>
            </div>
            <div class="form-group">
                <label for="Quentity">Quantity</label>
                <input type="number" class="form-control" id="quantity" name="quantity" value="<%= product.quantity %>" style="color: white;">
                <p style="color: red;" id="quantityErr"></p>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="number" class="form-control" id="price" name="price" value="<%= product.price %>" style="color: white;">
                <p style="color: red;" id="priceErr"></p>
            </div>
            <div class="form-group">
                <label for="exampleSelectGender">Category</label>
                <select class="form-control" id="exampleSelectGender" name="category" style="color: white;">
                  <option><%= product.category.name %></option>
                  <% categorys.forEach(function(category) { %>
                <option><%= category.name %></option>
                <% }); %>
              </select>
            </div>
            <div class="form-group">
              <label for="exampleSelectGender">Offers</label>
              <select class="form-control" id="exampleSelectGender" name="offer" style="color: white;">
                <% if (product.offer) { %>
                  <option><%= product.offer.name %></option>
                  <% } %>
                  <option value="0">0</option>
                <% offers.forEach(function(offer) { %>
              <option><%= offer.name %></option>
              <% }); %>
             
            </select>
          </div>
            <div class="row d-flex justify-content-center ">
                <div class="row d-flex justify-content-between ">

                  <div class="col-lg-3 col-md-6 rounded-image-preview">
                    <label for="imageInput1" class="image-label"><%= product.images.imag1 %>
                      <div class="rounded-image-preview">
                        <img id="imagePreview1"
                          src="/images/product/orginal/<%= product.images.image1 %>"
                          alt="Preview" />
                      </div>
                      <input name="image1" type="file" accept="image/*" id="imageInput1" class="imageInput"  >
                    </label>
                  </div>

                  <div class="col-lg-3 col-md-6 rounded-image-preview">
                    <label for="imageInput2" class="image-label"><%= product.images.imag2 %>
                      <div class="rounded-image-preview">
                        <img id="imagePreview2"
                          src="/images/product/orginal/<%= product.images.image2 %>"
                          alt="Preview" />
                      </div>
                      <input name="image2" type="file" accept="image/*" id="imageInput2" class="imageInput">
                    </label>
                  </div>

                  <div class="col-lg-3 col-md-6 rounded-image-preview">
                    <label for="imageInput3" class="image-label"><%= product.images.imag3 %>
                      <div class="rounded-image-preview">
                        <img id="imagePreview3"
                          src="/images/product/orginal/<%= product.images.image3 %>"
                          alt="Preview" />
                      </div>
                      <input name="image3" type="file" accept="image/*" id="imageInput3" class="imageInput">
                    </label>
                  </div>

                  <div class="col-lg-3 col-md-6 rounded-image-preview">
                    <label for="imageInput4" class="image-label"><%= product.images.imag4 %>
                      <div class="rounded-image-preview">
                        <img id="imagePreview4"
                          src="/images/product/orginal/<%= product.images.image4 %>"
                          alt="Preview" />
                      </div>
                      <input name="image4" type="file" accept="image/*" id="imageInput4" class="imageInput" >
                    </label>
                  </div>

                </div>
              </div>
          <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4" name="description" ><%= product.description %></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <!-- <button class="btn btn-dark">Cancel</button> -->
        </form>
      </div>
    </div>
  </div>

  <script src="/admin/js/formValidation.js"></script>

<%- include('../layout/admin/footer.ejs') -%>