<%- include('../layout/admin/header.ejs') -%>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <br>
        <br>
        <br>
        <h1 class="card-title">Edit Offer</h1>
        <p class="card-description"> Edit offer form</p>
          <form action="/admin/editOffer?_id=<%= offer._id %>" id="form" class="forms-sample" method="post" >  
            <div class="form-group">
                <label for="for offername">Offer Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="name"  value="<%= offer.name %>"  style="color: white;">
                <p style="color: red;" id="nameLengthError"></p>
            </div>
            <div class="form-group">
                <label for="discount">Discount Percentage</label>
                <input type="number" class="form-control" id="discount" name="discount" placeholder="discount Percentage" value="<%= offer.discountAmount %>" style="color: white;">
                <p style="color: red;" id="discountError"></p>
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Activation Date</label>
              <input type="date" class="form-control" id="exampleInputEmail3" name="activationDate" placeholder="activation date" value="<%= offer.activationDate.toISOString().split('T')[0] %>" style="color: white;">
          </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Expire Date</label>
                <input type="date" class="form-control" id="exampleInputEmail3" name="expiryDate" placeholder="expire date" value="<%= offer.expiryDate.toISOString().split('T')[0] %>" style="color: white;">
            </div>
            <br>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <!-- <button class="btn btn-dark">Cancel</button> -->
        </form>
      </div>
    </div>
  </div>

  <script src="/admin/js/formValidation.js"></script>

<%- include('../layout/admin/footer.ejs') -%>