<%- include('../layout/admin/header.ejs') -%>

<div class="col-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <br>
        <br>
        <br>
        <h1 class="card-title">Edit Coupon</h1>
        <p class="card-description"> Edit coupon form</p>
          <form action="/admin/editCoupon?_id=<%= coupon._id %>" class="forms-sample" method="post" >  
            <div class="form-group">
                <label for="exampleInputName1">coupon Name</label>
                <input type="text" class="form-control" id="exampleInputName1" name="name" placeholder="name"  value="<%= coupon.name %>"  style="color: white;">
            </div>
            <div class="form-group">
                <label for="exampleInputCouponCode">Coupon Code</label>
                <input type="text" class="form-control" id="exampleInputEmail3" name="code" placeholder="code" value="<%= coupon.couponCode %>" style="color: white;">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Discount Amount</label>
                <input type="number" class="form-control" id="exampleInputEmail3" name="discount" placeholder="discount amount" value="<%= coupon.discountAmount %>" style="color: white;">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail3">Activation Date</label>
              <input type="text" class="form-control" id="exampleInputEmail3" name="activationDate" placeholder="activation date" value="<%= coupon.activationDate.toLocaleDateString('en-US', { year:'numeric', month: 'short', day: '2-digit'}).replace(/\//g, '-') %>" style="color: white;">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Expire Date</label>
                <input type="text" class="form-control" id="exampleInputEmail3" name="expiryDate" placeholder="expire date" value="<%= coupon.expiryDate.toLocaleDateString('en-US', { year:'numeric', month: 'short', day: '2-digit'}).replace(/\//g, '-') %>" style="color: white;">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">Criteria Amount</label>
                <input type="number" class="form-control" id="exampleInputEmail3" name="criteriAamount" placeholder="criteria amount" value="<%= coupon.criteriaAmount %>"  style="color: white;">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail3">User Limits</label>
                <input type="number" class="form-control" id="exampleInputEmail3" name="userLimit" placeholder="user limits" value="<%= coupon.usersLimit %>"   style="color: white;">
            </div>
                  <!-- <div class="col-lg-3 col-md-6 rounded-image-preview">
                    <label for="imageInput1" class="image-label">
                      <div class="rounded-image-preview">
                        <img id="imagePreview1"
                          src="/images/product/orginal/Allen Solly 4.avif"
                          alt="Preview" />
                      </div>
                      <input name="image" type="file" accept="image/*" id="imageInput1" class="imageInput"  required >
                    </label>
                 </div> -->
            <br>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <button class="btn btn-dark">Cancel</button>
        </form>
      </div>
    </div>
  </div>



<%- include('../layout/admin/footer.ejs') -%>