<%- include('../layout/admin/header.ejs') -%>
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12" >
        <div class="card" >
          <div class="card-body" >
            <h4 class="card-title" style="text-align: center; font-size: 29px;"><%= user.name %></h4>
            <div class="table-responsive" >
              <table class="table table-hover" id="reloadArea">
                <thead>
                  <tr>
                    <th>No.</th>
                    <th>OrderId</th>
                    <th>Order Date</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>View</th>
                  </tr>
                </thead>
                <tbody >
                  <% orders.forEach(function(order,index) { %>
                    <tr>
                      <td><%= index + 1 %></td> <!-- Replace with actual user properties -->
                      <td><%= order._id %></td>
                      <td><%= order.date.toLocaleDateString('en-US', { year:'numeric', month: 'short', day: '2-digit'}).replace(/\//g, '-') %></td>
                        <td> <i class="fa-solid fa-indian-rupee-sign"></i><%= order.totalAmount %></td>

                      <% if (order.status=="pending") { %>
                        <td style="color: yellow;">Pending</td>
                      <% } else if ( order.status == 'delivered') { %>
                        <td style="color: limegreen;">Deliverd</td>
                      <% } else if(order.status =='cancel') { %>
                        <td style="color: red;">cancelled</td>
                      <% } else { %>
                        <td><div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                            <%= order.status %>
                          </button>
                          <div class="dropdown-menu">
                            <button class="dropdown-item" type="button" onclick="updateOrder('<%= order._id %>','Placed')">Placed</button>
                            <button class="dropdown-item" type="button" onclick="updateOrder('<%= order._id %>','Shipped')">Shipped</button>
                            <button class="dropdown-item" type="button" onclick="updateOrder('<%= order._id %>','Out for Delivery')">Out for Delivery</button>
                            <button class="dropdown-item" type="button" onclick="updateOrder('<%= order._id %>','delivered')">delivered</button>
                            <button class="dropdown-item" type="button" onclick="updateOrder('<%= order._id %>','cancel')">Cancel</button>
                          </div>
                        </div>
                      </td>
                      <% } %>
                      <td>
                        <a href="/admin/orderSummary?_id=<%= order._id %>" class="btn btn-primary block-button" >Details</a>                        
                      </td>
                    </tr>
                  <% }); %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->

    <script>
         function updateOrder(orderId,status) {
        const data = {orderId:orderId,status:status}
        console.log(data);
        $.ajax({
            method: 'POST',
            url: '/admin/updateOrder', 
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (response) {
                if(response.update===true){
                    $('#reloadArea').load('/admin/order #reloadArea'); 
                }else{
                    swal("Somthing error", "", "error")
                    $('#reloadArea').load('/cart #reloadArea'); 
                }

            },
            error: function (error) {

                console.error(error);
            }
        });
    }

    </script>
  <%- include('../layout/admin/footer.ejs') -%>