<%- include('../layout/user/header.ejs') -%>

<div style="width: 100%;height: 77px;"></div>
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('user/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Cart
    </h2>
</section>	
<br>

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<% if (cart===null||cart.products.length==0) { %>
    <div  style=" max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;">
    <h1 style=" font-size: 24px;
        margin-bottom: 20px;">Your Shopping Cart</h1>
    <div style=" border: 1px solid #ddd;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <div style=" font-size: 18px;
        margin-bottom: 20px;">
    <div style="font-size: 48px;
        color: #ccc;">&#128722;</div>
    <p style="font-size: 16px;">Your shopping cart is empty.</p>
     <p><a style=" text-decoration: none;
        color: #007bff;" href="/">Continue shopping</a></p>
    </div>
    </div>
    <div style="width: 100%;height: 77px;"></div>
    </div>
<% }else { %>
<!-- Shoping Cart -->
<form class="bg0 p-t-20 p-b-85">
    <div class="container">
        <div class="row" id="reloadArea">
            <div class="col-lg-10 col-xl-8 m-lr-auto m-b-50" >
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart" >
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                                <th class="column-3">Stock</th>
                                <th class="column-4">Quantity</th>
                                <th class="column-5">Total</th>
                            </tr>
                                <% cart.products.forEach(function(product, index) { %>
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="images/product/orginal/<%= product.productId.image[0] %>" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2"><a href="/product?_id=<%= product.productId._id %>"><%= product.productId.name %></a></td>
                                <td class="column-3"><%= product.price %></td>
                                <% if (product.productId.quantity === 0) { %>
                                    <td class="column-3 " style="color: blue;">Out of stock</td>
                                <% } else if (product.productId.quantity < 6) { %>
                                    <td class="column-3" style="color: red;">Only <%= product.productId.quantity %> left</td>
                                <% } else { %>
                                    <td class="column-3" style="color: lime;">Available</td>
                                <% } %>
                                <td class="column-4">
                                    <div class="wrap-num-product flex-w m-l-auto m-r-0">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m"  onclick="updateCart('<%= product.productId._id %>',-1);">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>

                                        <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" max="3" value="<%= product.count %>" >

                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" onclick="updateCart('<%= product.productId._id %>',1);">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="column-5"><%= product.totalPrice %></td>
                                <td><p class="btn-remove" title="Remove Product" onclick="removeProduct('<%= product.productId._id %>')"><i class="icon-close"></i></p></td>
                            <% }); %>
                        </table>
                    </div>
                   
                    <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                        <div class="flex-w flex-m m-r-20 m-tb-5">
                            <input class="stext-104 cl2 plh4 size-117 bor13 p-lr-20 m-r-10 m-tb-5" type="text" name="coupon" placeholder="Coupon Code">
                                
                            <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">
                                Apply coupon
                            </div>
                        </div>

                        <div class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                            Update Cart
                        </div>
                    </div>
                </div>
            </div>
            


            <aside class="col-lg-3">
                <div class="summary summary-cart">
                    <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
                        <table class="table table-summary">
                            <tbody>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>$ <%= total %> %></td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr class="summary-shipping">
                                        <td>Shipping:</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                                <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                            </div><!-- End .custom-control -->
                                        </td>
                                        <td>$0.00</td>
                                    </tr><!-- End .summary-shipping-row -->

                                        <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
                                                    <label class="custom-control-label" for="standart-shipping">Standart:</label>
                                                </div><!-- End .custom-control -->
                                            </td>
                                            <td>$10.00</td>
                                        </tr><!-- End .summary-shipping-row -->

                                        <tr class="summary-shipping-row">
                                            <td>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                                                    <label class="custom-control-label" for="express-shipping">Express:</label>
                                                </div><!-- End .custom-control -->
                                            </td>
                                            <td>$20.00</td>
                                        </tr><!-- End .summary-shipping-row -->

                                        <tr class="summary-shipping-estimate">
                                            <td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
                                            <td>&nbsp;</td>
                                        </tr><!-- End .summary-shipping-estimate -->

                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>$ <%= total %></td>
                                        </tr><!-- End .summary-total -->
                            </tbody>
                        </table><!-- End .table table-summary -->
                            <p class="btn btn-outline-primary-2 btn-order btn-block" onclick="checkStock()">PROCEED TO CHECKOUT</p>
                </div><!-- End .summary -->
                    <a href="/" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
            </aside><!-- End .col-lg-3 -->
        </div>
    </div>
</form>
<% } %> 


<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
    <span class="symbol-btn-back-to-top">
        <i class="zmdi zmdi-chevron-up"></i>
    </span>
</div>


<script>
    function updateCart(productId,count) {
        const data = {productId:productId,count:count}
        console.log(data);
        $.ajax({
            method: 'POST',
            url: '/updateCart', 
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (response) {
                if(response.stock===true){
                    $('#reloadArea').load('/cart #reloadArea'); 
                }else{
                    swal("Stock Limit Reached", "", "error")
                    $('#reloadArea').load('/cart #reloadArea'); 
                }

            },
            error: function (error) {

                console.error(error);
            }
        });
    }

    function removeProduct(productId){
        const data = {productId:productId}

        $.ajax({
            method:'POST',
            url:'/removeProduct',
            data:JSON.stringify(data),
            contentType:'application/json',
            success:function(response){
                if(response.remove==true){
                    swal("Success", "Item removed from the cart!", "success")
                    $('#reloadArea').load('/cart #reloadArea'); 
                }
            },
            error:function(error){
                console.log(error);
            }
        });

    }

    function checkStock() {
        $.ajax({
            method: 'get',
            url: '/checkout', 
            data: JSON.stringify(),
            contentType: 'application/json',
            success: function (response) {
                if(response.stock===false){
                    swal("Stock Limit Reached", "", "error");
                }else{
                    window.location.href = '/checkout'
                }
            },
            error: function (error) {

                console.error(error);
            }
        });
    }
</script>

<%- include('../layout/user/footer.ejs') -%>