<%- include('../layout/user/header.ejs') -%>

<div style="width: 100%;height: 77px;"></div>
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('user/images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Checkout
    </h2>
</section>	
<br>

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shop</a></li>
            <li class="breadcrumb-item active" aria-current="page">My Account</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="checkout">
        <div class="container">
            <div class="checkout-discount">
                <form id="coupon-form">
                    <input type="text" class="form-control" name="coupon" required id="checkout-discount-input">
                    <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                </form>
            </div><!-- End .checkout-discount -->
            <form  id="myForm">
                <div class="row">
                    <div class="col-lg-9">
                    <% if (addresses.address.length >0) { %>
                        <div class="row">
                            <% addresses.address.forEach(function(address, index) { %>
                                <div class="col-lg-6">
                                    <div class="card card-dashboard">
                                        <div class="card-body">
                                            <input type="radio" name="address" value="<%= index %>" <%= index === 0 ? 'checked' : '' %> >
                                            <h3 class="card-title">Address <%= index + 1 %></h3>
                                            <p>Name: <%= address.fullName %><br>
                                            Email: <%= address.email %><br>
                                            Mobile: <%= address.mobile %><br>
                                            State: <%= address.state %><br>
                                            City: <%= address.city %><br>
                                            House Name: <%= address.houseName %><br>
                                            Pincode: <%= address.pin %><br>
                                            <a href="/editAddress?ind=<%= index %>" >Edit <i class="icon-edit"></i></a>
                                        </div>
                                    </div>
                                </div>
                            <% }); %>
                        </div>
                        <% } else { %>
                            <div class="tab-pane "  >
                                <h3>Add Address</h1>
                                <!-- <form action="/addAddress" method="post"> -->
                                    <label>Full name *</label>
                                    <input type="text" class="form-control" name="name" required>
                                    <div class="row">                                       
                                        <div class="col-sm-6">
                                            <label>Email *</label>
                                            <input type="email" class="form-control" name="email" required>
                                        </div><!-- End .col-sm-6 -->
                    
                                        <div class="col-sm-6">
                                            <label>Mobile *</label>
                                            <input type="number" class="form-control" name="mobile" required>
                                        </div><!-- End .col-sm-6 -->
                    
                                        <div class="col-sm-6">
                                            <label>State *</label>
                                            <input type="text" class="form-control" name="state" required>
                                        </div><!-- End .col-sm-6 -->
                    
                                        <div class="col-sm-6">
                                            <label>City *</label>
                                            <input type="text" class="form-control" name="city" required>
                                        </div><!-- End .col-sm-6 -->
                    
                                        <div class="col-sm-6">
                                            <label>Pincode *</label>
                                            <input type="number" class="form-control" name="pincode" required>
                                        </div><!-- End .col-sm-6 -->
                                                              
                                        <div class="col-sm-6">
                                            <label>House name *</label>
                                            <input type="text" class="form-control" name="house" required>
                                        </div><!-- End .col-sm-6 -->                                         
                                    </div><!-- End .row -->                                   
                            </div><!-- Add address form end -->
                    <% } %>
                    </div>    
                    <aside class="col-lg-3" >
                        <div class="summary" id="reloadArea">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->
    
                            <table class="table table-summary">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    <% cart.products.forEach(function(product, index) { %>
                                    <tr>
                                        <td><a href="/product?_id=<%= product.productId._id %>"><%= product.productId.name %></a></td>
                                        <td>$ <%= product.totalPrice %></td>
                                    </tr>
                                    <% }); %>
                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>$ <%= subTotal %></td>
                                    </tr><!-- End .summary-subtotal -->
                                    <tr>
                                        <td>Shipping:</td>
                                        <td>Free shipping</td>
                                    </tr>
                                    <tr>
                                        <td>Coupon Discount:</td>
                                        <td><%= cart.couponDiscount %></td>
                                    </tr>
                                    <tr>
                                        <td>Offer Discount:</td>
                                        <td><%= discount %></td>
                                    </tr>
                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td id="total1"> <%= total %></td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                               
                            </table><!-- End .table table-summary -->
                            <div class="d-flex align-items-center">
                                <div class="mr-2">
                                  <input
                                    required
                                    type="radio"
                                    id="COD"
                                    name="payment"
                                    value="COD"
                                  />
                                </div>
                                <a href="" class="d-block text-dark" for="pay1"
                                  >Cash On Delivery</a
                                >
                              </div>
              
                              <div class="d-flex align-items-center">
                                <div class="mr-2">
                                  <input
                                    required
                                    type="radio"
                                    id="payment"
                                    name="payment"
                                    value="onlinePayment"
                                    checked
                                  />
                                </div>
                                <a href="" class="d-block text-dark" for="pay2"
                                  >Online Payment</a
                                >
                              </div>
              
                              <div class="d-flex align-items-center">
                                <div class="mr-2">
                                  <input
                                    required
                                    type="radio"
                                    id="wallet"
                                    name="payment"
                                    value="wallet"
                                  />
                                </div>
                                <a href="" class="d-block text-dark" for="pay3">Wallet</a>
                              </div>
                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                <span class="btn-text">Place Order</span>
                                <span class="btn-hover-text">Proceed to Checkout</span>
                            </button>
                        </div><!-- End .summary -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div><!-- End .page-content -->

<script>

    $(document).ready(function () {
        $('#myForm').submit(function (event) {
            event.preventDefault();

            const total = document.getElementById("total1").innerHTML;
            var formDataArray = $(this).serializeArray();
            formDataArray.push({ name: 'total', value: total })
            var formData = $.param(formDataArray)

            console.log(formData,);
            $.ajax({
                type: 'POST',
                url: '/placeOrder',
                data: formData,
                success: function (response) {
                    if(response.placed==true){
                        window.location.href = '/orderSuccess'
                    }else if(response.wallet == false){
                        swal("Anj paisa illa !!", "", "error")
                    }
                    else{
                        
                        razorpayPayment(response.order)
                    }
                },
                error: function (error) {
    
                    console.error('Error:', error);
                }
            });
        });
    });


    function razorpayPayment(order){
        console.log(order);
        var options = {
        "key": "rzp_test_eTuP9JfD6ugQOM",
        "amount": order.amount, 
        "currency": "INR",
        "name": "Fashion Arclight",
        "description": "Test Transaction",
        "image": "/user/images/Fs Hat Logo.jpg",
        "order_id": order.id, 
        handler: function (response) {
            verifyPayment(response, order);
        },
        "prefill": { 
            "name": "Fashion Arclight", 
            "email": "fashionarclight.com",
            "contact": "9000090000"
        },
        "notes": {
            "address": "Fashion Arclight "
        },
        "theme": {
            "color": "#cc9967"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open();
    }


    function verifyPayment(payment, order) {
        const amount2 = document.getElementById("total1").innerHTML;
        console.log(amount2);
        $.ajax({
        url: "/verify-payment",
        method: "post",
        data: {
            payment: payment,
            amount2: amount2,
            order: order,
        },
        success: (response) => {
            if (response.placed == true) {
                window.location.href = '/orderSuccess'
            } else {
            swal.fire({
                positon: "center",
                icon: "error",
                title: "Payment failed",
                showConfirmButton: false,
                timer: 1500,
            });
            }
        },
        });
    }


$(document).ready(function() {
    $("#coupon-form").submit(function(event) {
        event.preventDefault(); 

        var couponCode = $("#checkout-discount-input").val();

        $.ajax({
            type: "POST",
            url: "/checkCoupon", 
            data: { coupon: couponCode },
            success: function(response) {
                if(response.coupon==false){
                    swal("No Coupon Available", "", "error")
                }else if(response.coupon=='notAct'){
                    swal("This Cooupon No Longer Available", "", "error")
                }else if(response.coupon=='limit'){
                    swal("This Cooupon Is Only For Limited Users", "", "error")
                }else if(response.coupon=='used'){
                    swal("This Coupon Is Already Used Try Another One", "", "error")
                }else if(response.coupon=='amountIssue'){
                    swal("Purchase More To Use This Coupon", "", "error")
                }else if(response.coupon){
                    swal("Success", "Coupon Added!", "success")
                    $('#reloadArea').load('/checkout #reloadArea'); 
                }else{
                    swal("Somthing Worong", "", "error")
                }
            }
        });
    });
});



</script>
<%- include('../layout/user/footer.ejs') -%>