
<%- include('../layout/user/header.ejs') -%>

<div style="width: 100%; height: 77px; background-color: white;"></div>
<nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/profile">My Account</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="card card-dashboard">
                    <div class="card-body">
                        <h3 class="card-title">Delivery Address</h3>
                        <p>Name: <%= order.deliveryDetails.fullName %><br>
                        Email: <%= order.deliveryDetails.email %><br>
                        Mobile: <%= order.deliveryDetails.mobile %><br>
                        State: <%= order.deliveryDetails.state %><br>
                        City: <%= order.deliveryDetails.city %><br>
                        House Name: <%= order.deliveryDetails.houseName %><br>
                        Pincode: <%= order.deliveryDetails.pin %><br>
                        <!-- <a href="/editAddress" >Edit <i class="icon-edit"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card card-dashboard">
                    <div class="card-body">
                        <h3 class="card-title">Order Summary</h3>
                        <p>OrdeId: <%= order._id %><br>
                        Date: <%= order.date.toLocaleDateString('en-US', { year:'numeric', month: 'short', day: '2-digit'}).replace(/\//g, '-') %><br>
                        Items: <%= order.products.length %><br>
                        Shipping:<%= order.shippingMethod %><br>
                        Total Amount: <%= order.totalAmount %><br>
                        Payment Method: <%= order.paymentMethod %><br>
                        Status: <%= order.status %><br>
                        <% if (order.status=="cancel") { %>
                            cancel Reason:<%= order.cancelReason %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-b-45">
            <h4 class="ltext-106 cl5 txt-center">
                 Products
            </h4>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-dashboard">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <tbody>
                                    <% order.products.forEach(function(product,index) { %>
                                        <tr>
                                            <td>
                                                <img src="/images/product/orginal/<%= product.productId.images.image1 %>" alt="" class="img-thumbnail" style="max-width: 80px;">
                                            </td>
                                            <td>
                                                <a href="/product?_id=<%= product.productId._id %>"><%= product.productId.name %></a>
                                            </td>                                          
                                            <td><%= product.productId.category.name %></td>
                                            <td> ₹<%= product.price %></td>
                                            <td ><%= product.count %></td>
                                            <td> ₹<%= product.totalPrice %></td>
                                        </tr>
                                    <% }); %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div id="review-form" style="display: none;">
            <h2 class="review-form-title">Add a Review</h2>
            <form id="add-review-form" class="review-form">
                <div class="Review-form-group">

                    <label id="review-Lb" for="rating">Product:</label>
                    <select  id="product" name="product" class="form-control review-Select">
                        <% order.products.forEach(function(product,index) { %>
                        <option value="<%= product.productId._id %>"><%= product.productId.name %></option>
                        <% }); %>
                    </select>

                    <label id="review-Lb" for="rating">Rating:</label>
                    <div class="modal-body">
                        <div class="rate">
                          <input type="radio" id="star5" name="rate" value="5" />
                          <label for="star5" title="text"></label>
                          <input type="radio" id="star4" name="rate" value="4" />
                          <label for="star4" title="text"></label>
                          <input type="radio" id="star3" name="rate" value="3" />
                          <label for="star3" title="text"></label>
                          <input type="radio" id="star2" name="rate" value="2" />
                          <label for="star2" title="text"></label>
                          <input type="radio" id="star1" name="rate" value="1" />
                          <label for="star1" title="text"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea id="comment" name="comment" class="form-control" rows="4" cols="50"></textarea>
                </div>
                <button type="button" class="btn btn-primary" onclick="submitReview()">Submit Review</button>
            </form>
        </div>
  

        <% if (order.status !=='cancel' && order.status !=='delivered') { %>
            <button type="button" class="btn btn-danger btn-block" onclick="cancelOrder('<%= order._id %>')">Cancel Order</button>
        <% } %> 
        <% if (order.status === 'delivered') { %>
            
            <div style="display: flex; justify-content: space-between;">
                <button id="addReview-btn" class="add-review-button btn btn-success" onclick="showReviewForm()">Add Review</button>
                <form action="/invoice?_id=<%= order._id %>" method="post">
                    <button id="Invoice" class="add-review-button btn btn-info">Invoice</button>
                </form>
            </div>
           
            
            
         <% } %> 

        <div style="width: 100%; height: 77px; background-color: white;"></div>
    </div><!-- End .container -->
</main><!-- End .main -->

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>

    //cancel the all order
    function cancelOrder(orderId) {
  Swal.fire({
    title: 'Cancel Order',
    input: 'text',
    inputLabel: 'Reason for cancellation',
    inputPlaceholder: 'Enter your reason here',
    showCancelButton: true,
    confirmButtonText: 'Submit',
    showLoaderOnConfirm: true,
    preConfirm: (cancelReason) => {
      const data = { orderId: orderId, cancelReason: cancelReason };
      $.ajax({
        method: 'POST',
        url: '/cancelOrder',
        data: JSON.stringify(data),
        contentType: 'application/json',
        success: function (response) {
          if (response.cancel) {
            Swal.fire('Order Canceled', 'Your order has been canceled.', 'success').then(() => {
              location.reload();
            });
          } else {
            Swal.fire('Error', 'Failed to cancel the order.', 'error');
          }
        },
        error: function (error) {
          console.error(error);
          Swal.fire('Error', 'An error occurred while canceling the order.', 'error');
        },
      });
    },
    allowOutsideClick: () => !Swal.isLoading(),
  });
}


//add review to a product
function showReviewForm() {
    document.getElementById("review-form").style.display = "block";
    document.getElementById("addReview-btn").style.display = "none";
    document.getElementById("Invoice").style.display = "none";
    
}


function submitReview() {
    const radioInputs = document.querySelectorAll('input[name="rate"]')
    const productId = document.getElementById("product").value;
    const comment = document.getElementById("comment").value;
    let selectedValue = null;

    radioInputs.forEach(input => {
        if (input.checked) {
            selectedValue = input.value;
        }
    });

    $.ajax({
        method: "POST",
        url: "/productReview",
        data: {
            rating: selectedValue,
            comment: comment,
            _id:productId
        },
        success: function (response) {

            if(response.added){
                document.getElementById("review-form").style.display = "none";
                document.getElementById("addReview-btn").style.display = "block";
                document.getElementById("Invoice").style.display = "block";
            }
            
        },
        error: function (error) {
            console.error("Failed to submit the review:", error);

        },
    });
}

</script>

<%- include('../layout/user/footer.ejs') -%>
