<%- include('../layout/user/header.ejs') -%>

<div class="page-wrapper">
    <div style="width: 100%; height: 77px; background-color: white;"></div>
    <main class="main">
        <!-- <section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('user/images/bg-01.jpg');">
            <h2 class="ltext-105 cl0 txt-center">
               My Profile
            </h2>
        </section> -->

        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">My Account</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <!-- side buttons  start -->
                        <aside class="col-md-4 col-lg-3">
                            <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tab-account-link" data-toggle="tab" href="#tab-account" role="tab" aria-controls="tab-account" aria-selected="true">My Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders" role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-downloads-link" data-toggle="tab" href="#tab-downloads" role="tab" aria-controls="tab-downloads" aria-selected="false">Wallet</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-address" aria-selected="false">Adresses</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link " id="tab-dashboard-link" data-toggle="tab" href="#tab-dashboard" role="tab" aria-controls="tab-dashboard" aria-selected="false">Coupon</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="logout" id="signOutLink">Sign Out</a>
                                </li>                                
                            </ul>
                        </aside><!-- End .col-lg-3 --><!-- Show Addresses end -->

                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">

                                <div class="tab-pane fade" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
                                    <% if (orders.length==0) { %>
                                        <div  style=" max-width: 800px;
                                            margin: 0 auto;
                                            padding: 20px;
                                            text-align: center;">
                                        <h1 style=" font-size: 24px;
                                            margin-bottom: 20px;">Your Orders</h1>
                                        <div style=" border: 1px solid #ddd;
                                            padding: 20px;
                                            background-color: #fff;
                                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
                                        <div style=" font-size: 18px;
                                            margin-bottom: 20px;">
                                        <div style="font-size: 48px;
                                            color: #ccc;">&#128722;</div>
                                        <p style="font-size: 16px;">Your orders list is empty.</p>
                                         <p><a style=" text-decoration: none;
                                            color: #007bff;" href="/">Continue shopping</a></p>
                                        </div>
                                        </div>
                                        <div style="width: 100%;height: 77px;"></div>
                                        </div>
                                    <% }else { %>           
                                                <table style="width: 100%; border-collapse: separate; border-spacing: 0 20px;">
                                                    <thead>
                                                        <tr>
                                                            <th>No.</th>
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>Payment</th>
                                                            <th>Status</th>
                                                            <th>Details</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% orders.forEach(function(order,index) { %>
                                                        <tr>
                                                            <td><%= index + 1 %></td>
                                                            <td><%= order.date.toLocaleDateString('en-US', { year:
                                                                'numeric', month: 'short', day: '2-digit'
                                                                }).replace(/\//g, '-') %></td>
                                                            <td><%= order.totalAmount %></td>
                                                            <td><%= order.paymentMethod %></td>
                                                            <td><%= order.status %></td>
                                                            <td><a href="/orderDetails?_id=<%= order._id %>">Details</a></td>
                                                        </tr>
                                                        <% }); %>
                                                    </tbody>
                                                </table> 
                                                <% } %>                            
                                </div><!-- .End .tab-pane -->

                                <div class="tab-pane fade" id="tab-downloads" role="tabpanel" aria-labelledby="tab-downloads-link">
                                    <div class="walletContainer">
                                        <div class="wallet">
                                            <h3>Wallet Balance</h3>
                                            <div class="balance">$ <%= user.wallet %></div>
                                        </div>
                                        <div class="transactions">
                                            <h3>Transaction History</h3>
                                            <% user.walletHistory.forEach(function(transaction) { %>
                                            <div class="transaction">
                                                <div class="info">
                                                    <!-- <div class="description">Credit from Sale</div> -->
                                                    <div class="date"><%= transaction.date.toLocaleDateString('en-US', { year:
                                                        'numeric', month: 'short', day: '2-digit'
                                                        }).replace(/\//g, '-') %></div>
                                                </div>
                                                <% if (transaction.amount < 0 ) { %>
                                                    <div class="amount" style="color: red;"><%= transaction.amount %></div>
                                                <% } else { %>
                                                    <div class="amount" style="color: limegreen;">+<%= transaction.amount %></div>
                                                <% } %>
                                            </div>
                                            <% }); %>
                                        </div>
                                    </div>
                                </div><!-- .End .tab-pane -->

                                <!-- Show Addresses start -->
                                <div class="tab-pane fade" id="tab-address" role="tabpanel" aria-labelledby="tab-address-link">
                                    <% if (addresses=== null    ) { %>
                                        <p>No addresses have been added yet.</p>
                                        <a class="btn btn-primary" href="/addAddress">Add Address</a>
                                    <% } else { %>
                                        <p>The following addresses will be used on the checkout page by default.</p>
                                        <div class="row">
                                            <% addresses.address.forEach(function(address, index) { %>
                                                <div class="col-lg-6">
                                                    <div class="card card-dashboard">
                                                        <div class="card-body">
                                                            <h3 class="card-title">Address <%= index + 1 %></h3>
                                                            <p>Name: <%= address.fullName %><br>
                                                            Email: <%= address.email %><br>
                                                            Mobile: <%= address.mobile %><br>
                                                            State: <%= address.state %><br>
                                                            City: <%= address.city %><br>
                                                            House Name: <%= address.houseName %><br>
                                                            Pincode: <%= address.pin %><br>
                                                            <a href="/editAddress?ind=<%= index %>" >Edit <i class="icon-edit"></i></a>
                                                            <a href="/deleteAddress?_id=<%= address._id %>" style="margin-left: 15px;" >Delete <i class="icon-delete"></i></a>

                                                        </div>
                                                    </div>
                                                </div>
                                            <% }); %>
                                        </div>
                                        <a class="btn btn-primary" href="/addAddress">Add Address</a>
                                    <% } %>
                                </div><!-- Show Addresses end -->

                                <!-- user profiel start -->
                                <div class="tab-pane fade show active" id="tab-account"  role="tabpanel" aria-labelledby="tab-account-link">
                                <form action="/editProfile">
                                    <div class="circle-image">
                                        <img src="images/user/orginal/<%= user.image %>" alt="<%= user.image %>" />
                                    </div>
                                    <br>
                                    <br>
                                    <div class="user-details">
                                        <h2><%= user.name %></h2>
                                        <p>Email: <%= user.email %></p>
                                        <p>Mobile: <%= user.mobile %></p>
                                        <p>Location: New York, USA</p>
                                        <button id="editProfileButton" class="btn btn-outline-primary-2">
                                            <span>Edit Profile</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                    </div>
                                </form>
                                </div>

                                <div class="tab-pane fade " id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
                                    <% if (coupons.length==0) { %>
                                        <h1 style="justify-content: center;align-items: center;display: flex;height: 30vh;">Sorry no coupons available</h1>
                                        <% } else { %>
                                    <div class="row">
                                        <% coupons.forEach(function(coupon, index) { %>
                                            <% if (new Date() >= coupon.activationDate) { %>
                                                <div class="col-lg-4">
                                                    <div class="coupon">
                                                        <div class="coupon-content">
                                                        <div class="coupon-title">Rs <%= coupon.discountAmount %> OFF</div>
                                                        <div class="coupon-code">CODE: <%= coupon.couponCode %></div>
                                                        <div class="coupon-description">Get Rs <%= coupon.discountAmount %> off on your next purchase. Hurry up and save big!</div>
                                                        <div class="coupon-expiry">Expires on: <%= coupon.expiryDate.toLocaleDateString('en-US', { year:
                                                            'numeric', month: 'short', day: '2-digit'
                                                            }).replace(/\//g, '-') %></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% } else { %>
                                                    <div class="col-lg-4">
                                                        <div class="coupon">
                                                            <div class="coupon-content">
                                                                <div class="coupon-title">Coming Soon</div>
                                                                <div class="coupon-code">CODE: COMINGSOON</div>
                                                                <div class="coupon-description">Stay tuned for our upcoming discount </div>
                                                                <div class="coupon-expiry">Active On: <%= coupon.activationDate.toLocaleDateString('en-US', { year:
                                                                    'numeric', month: 'short', day: '2-digit'
                                                                    }).replace(/\//g, '-') %></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                        
                                        <% }); %>
                                    </div>
                                    <% } %>
                                </div><!-- .End .tab-pane -->

                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
</div><!-- End .page-wrapper -->


<script>
    document.addEventListener("DOMContentLoaded", function () {
        const signOutLink = document.getElementById("signOutLink");
        signOutLink.addEventListener("click", function (e) {
            e.preventDefault(); 
            const confirmLogout = confirm("Are you sure you want to log out?");
            if (confirmLogout) {
                window.location.href = signOutLink.getAttribute("href");
            }
        });
    });
</script>

<%- include('../layout/user/footer.ejs') -%>