<%- include('../layout/user/header.ejs') -%>
<div style="width: 100%; height: 77px; background-color: white;"></div>
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Product Overview
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
                    All Products
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
                    Women
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
                    Men
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
                    Bag
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
                    Shoes
                </button>

                <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
                    Watches
                </button>
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                     Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>
            
            <!-- Search product -->

            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <form id="search-form" action="/shop" method="post">
                    <div class="bor8 dis-flex p-l-15">
                        <button type="submit" class="search-icon size-113 flex-c-m fs-24 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search" style="font-size: 27px;"></i>
                        </button>
                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" id="search-input" name="search" placeholder="Search">
                    </div>
                </form>
            </div>    

            <!-- Filter -->
            <form id="price-filter-form" method="post" action="/filter" style="width: 100%;">
                <div class="dis-none panel-filter w-full p-t-10">
                    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm" style="width: 100%;">
                        <div class="filter-col1 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Sort By
                            </div>
                        
                            <ul>
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="sort" value="0" checked>
                                        Default
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="sort" value="1">
                                        Price: Low to High
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="sort" value="-1">
                                        Price: High to Low
                                    </label>
                                </li>
                            </ul>
                        </div>
                        

                        <div class="filter-col2 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Price
                            </div>
                        
                            <ul>
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="0-10000000000" checked>
                                        All
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="150-350">
                                        ₹ 150 - ₹350
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="350-550">
                                        ₹ 350 - ₹ 550
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="550-750">
                                        ₹ 550 - ₹ 750
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="750-1000">
                                        ₹ 750 - ₹ 1000
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="1000-10000000">
                                        ₹ 1000+
                                    </label>
                                </li>
                            </ul>
                        </div>
                        

                        <div class="filter-col3 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Color
                            </div>
                        
                            <ul>
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="black" checked>
                                        Black
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="blue">
                                        Blue
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="grey">
                                        Grey
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="green">
                                        Green
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="red">
                                        Red
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="white">
                                        White
                                    </label>
                                </li>
                            </ul>
                        </div>
                        

                        <div class="filter-col4 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Category
                            </div>
                        
                            <div class="flex-w p-t-4 m-r--5">
                                <% categorys.forEach(function(category,index) { %>
                                <label class="radio-label">
                                    <input type="radio" name="category" value="<%= category._id %>"  <%= index === 0 ? 'checked' : '' %> >
                                    <p class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        <%= category.name %>
                                    </p>
                                </label>  
                                <% }); %>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-light">Apply Filters</button>
                    </div>
                </div>
            </form>
        </div>

       
        <div class="row isotope-grid"  id="reloadArea">
            <% products.forEach(function(product) { %>
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <!-- Wrap the product content in an anchor tag -->
                    <a href="/product?_id=<%= product._id %>">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">                             
                                <img src="images/product/orginal/<%= product.images.image1 %>" alt="<%= product.name %>" >                              
                            </div>
                
                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l">
                                    <span class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <!-- Esprit Ruffle Shirt -->
                                        <%= product.name %>
                                    </span>
                
                                    <span class="stext-105 cl3">
                                        <!-- $16.64 -->
                                        <%= product.price %>
                                    </span>
                                </div>
                                <% if (product.quantity==0) { %>
                                    <p style="color:blue;">(Out Of Stock)</p>
                                <% }  else if(product.quantity <6 ){ %>
                                    <p style="color:red;">(Only <%= product.quantity %> left)</p>
                                <% } %>
                                <div class="block2-txt-child2 flex-r p-t-3">
                                    <a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                        <img class="icon-heart1 dis-block trans-04" src="user/images/icons/icon-heart-01.png" alt="ICON">
                                        <img class="icon-heart2 dis-block trans-04 ab-t-l" src="user/images/icons/icon-heart-02.png" alt="ICON">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </a> <!-- Close the anchor tag here -->
                </div>
                <% }); %>

 <!-- Load more -->
    </div>
    <div class="flex-c-m flex-w w-full p-t-45" id="loadMoreButton">
        <a href="#" class="flex-c-m stext-101 cl5 size-103 bg2 bor1 hov-btn1 p-lr-15 trans-04">
            Load More
        </a>
    </div>
</section>

<script>
    function search(){
        const searchInput = document.getElementById('search-input');
        const searchValue = searchInput.value;
        console.log(searchValue);
        const data = {search:searchValue}
        $.ajax({
            method: 'POST',
            url: '/shop', 
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (response) {
                if(response.search===true){
                    $('#reloadArea').load('/shop #reloadArea'); 
                }else{
                    swal("somthing wrong", "", "error")
                }

            },
            error: function (error) {

                console.error(error);
            }
        });
    }
</script>

<%- include('../layout/user/footer.ejs') -%>