<%- include('../layout/user/header.ejs') -%>
<div style="width: 100%; height: 77px; background-color: white;"></div>
<% if (products.length !=0) { %>
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Product Overview
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
             <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                <a href="/shop" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">All Products</a>
            
                <a  href="/shop?category=<%= categorys[0]._id %>" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" >Pants</a>
            
                <a href="/shop?category=<%= categorys[1]._Id %>" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" >Shirts</a>
            
                <a href="/shop?category=<%= categorys[2]._id %>" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" >T shirts</a>
            
                <a href="#" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" >Shoes</a>
            
                <a href="#" class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5"  >Watches</a>
            </div>

            <div class="flex-w flex-c-m m-tb-10">
                <div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
                    <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
                    <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                     Filter
                </div>

                <div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
                    <i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
                    <i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
                    Search
                </div>
            </div>
            
            <!-- Search product -->

            <div class="dis-none panel-search w-full p-t-10 p-b-15">
                <form id="search-form" action="/filter" method="get">
                    <div class="bor8 dis-flex p-l-15">
                        <button type="submit" class="search-icon size-113 flex-c-m fs-24 cl2 hov-cl1 trans-04">
                            <i class="zmdi zmdi-search" style="font-size: 27px;"></i>
                        </button>
                        <input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" id="search-input" name="search" placeholder="Search">
                        <input type="radio" name="sort" value="0" checked hidden>
                        <input type="radio" name="price" value="0-10000000000" checked hidden>
                        <input type="radio" name="category" value="all"  checked hidden>
                    </div>
                </form>
            </div>    

            <!-- Filter -->
            <form id="price-filter-form" method="get" action="/filter" style="width: 100%;">
                <div class="dis-none panel-filter w-full p-t-10">
                    <div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm" style="width: 100%;">
                        <div class="filter-col1 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Sort By
                            </div>
                        
                            <ul>
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="sort" value="0" checked>
                                        Default
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="sort" value="1">
                                        Price: Low to High
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="sort" value="-1">
                                        Price: High to Low
                                    </label>
                                </li>
                            </ul>
                        </div>
                        

                        <div class="filter-col2 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Price
                            </div>
                        
                            <ul>
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="0-10000000000" checked>
                                        All
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="150-350">
                                        ₹ 150 - ₹350
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="350-550">
                                        ₹ 350 - ₹ 550
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="550-750">
                                        ₹ 550 - ₹ 750
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="750-1000">
                                        ₹ 750 - ₹ 1000
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label  class="radio-label">
                                        <input type="radio" name="price" value="1000-10000000">
                                        ₹ 1000+
                                    </label>
                                </li>
                            </ul>
                        </div>
                        

                        <div class="filter-col3 p-r-15 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Color
                            </div>
                        
                            <ul>
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="black" checked>
                                        Black
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="blue">
                                        Blue
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="grey">
                                        Grey
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="green">
                                        Green
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="red">
                                        Red
                                    </label>
                                </li>
                        
                                <li class="p-b-6">
                                    <label class="radio-label">
                                        <input type="radio" name="color" value="white">
                                        White
                                    </label>
                                </li>
                            </ul>
                        </div>
                        

                        <div class="filter-col4 p-b-27">
                            <div class="mtext-102 cl2 p-b-15">
                                Category
                            </div>
                        
                            <div class="flex-w p-t-4 m-r--5">
                                <label class="radio-label">
                                    <input type="radio" name="category" value="all"  checked >
                                    <p class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        All
                                    </p>
                                </label>  
                                <% categorys.forEach(function(category,index) { %>
                                <label class="radio-label">
                                    <input type="radio" name="category" value="<%= category._id %>"  >
                                    <p class="flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
                                        <%= category.name %>
                                    </p>
                                </label>  
                                <% }); %>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-light">Apply Filters</button>
                    </div>
                </div>
            </form>
        </div>

            <div class="row isotope-grid"  id="reloadArea">
                <% products.forEach(function(product) { %>
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <div class="block2-txt-child2 flex-r p-t-3" style="display: flex;">
                        <a  class="btn-addwish-b2 dis-block pos-relative js-addwish-b2" onclick="addToWish('<%= product._id %>')"  >
                            <% if (wishData.includes(product._id.toString())) { %>
                            <i class="fas fa-heart" style="font-size: 20px; " ></i>
                        <% } else { %>
                            <i class="far fa-heart" style="font-size: 20px;" ></i>
                        <% } %>
                        </a>
                    </div>
                    <a href="/product?_id=<%= product._id %>">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">                             
                                <img src="images/product/orginal/<%= product.images.image1 %>" alt="<%= product.name %>" >                              
                            </div>
                
                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l">
                                    <span class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        <!-- Esprit Ruffle Shirt -->
                                        <%= product.name %>
                                    </span>
                
                                    <span class="stext-105 cl3" style="font-weight: bold;color: black;">
                                        <i class="fa-solid fa-indian-rupee-sign"></i> <%= product.price %>
                                    </span>
                                    
                                </div>
                                <% if (product.quantity==0) { %>
                                    <p style="color:blue;">(Out Of Stock)</p>
                                <% }  else if(product.quantity <6 ){ %>
                                    <p style="color:red;">(Only <%= product.quantity %> left)</p>
                                <% } %>
                            </div>
                        </div>
                    </a> <!-- Close the anchor tag here -->
                </div>
                <% }); %>
            </div>
            <% } else { %>
                <div class="error-content text-center">
                    <div class="container">
                      <h1 class="error-title">No Items Available</h1>
                      <!-- End .error-title -->
                      <a
                        href="/"
                        class="btn btn-outline-primary-2 btn-minwidth-lg"
                      >
                        <span>BACK TO HOME</span>
                        <i class="icon-long-arrow-right"></i>
                      </a>
                    </div>
                    <!-- End .container -->
                  </div>
            <% } %>
        
        
 <!-- Load more -->
 <% if (products.length !=0) { %>
    <ul class="pagination">
        <% if (page != 1) { %>
            <li class="prev"><a href="/shop?page=<%= page - 1 %>">Prev</a></li>
        <% } %>

        <% for (let i = 1; i <= totalDoc / 4; i++) { %>
            <% if (page == i) { %>
                <li  style="background-color: #c3d0d9;color: black;"><a href="/shop?page=<%= i %>"><%= i %></a></li>
            <% } else { %>
                <li style="background-color: #ebeef0;color: white;"><a href="/shop?page=<%= i %>"><%= i %></a></li>
            <% } %>
        <% } %>
        
        <% if (page != totalDoc / 4) { %>
            <li class="next"><a href="/shop?page=<%= parseInt(page) + 1 %>">Next</a></li>
        <% } %>
    </ul>
<% } %>
</section>

<script>
    function search(){
        const searchInput = document.getElementById('search-input');
        const searchValue = searchInput.value;
        console.log(searchValue);
        const data = {search:searchValue}
        $.ajax({
            method: 'POST',
            url: '/shop', 
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (response) {
                if(response.search===true){
                    $('#reloadArea').load('/shop #reloadArea'); 
                }else{
                    swal("somthing wrong", "", "error")
                }

            },
            error: function (error) {

                console.error(error);
            }
        });
    }

    function addToWish(productId) {
        const data = {productId:productId}

        $.ajax({
            method: 'POST',
            url: '/addToWishList', 
            data: JSON.stringify(data),
            contentType: 'application/json',
            success: function (response) {
                if(response.add===true){
                    $('#reloadArea').load('/ #reloadArea'); 
                    swal("Success", "Item added to whishlist!", "success")
                }else if(response.remove===true){
                    $('#reloadArea').load('/ #reloadArea'); 
                    swal("Success", "Item removed from the wishlist!", "success")  
                }
                else{
                    // swal("Sorry", "No stock!", "error");
                }

            },
            error: function (error) {
                // Handle any errors from the server
                console.error(error);
            }
        });
    }
</script>

<%- include('../layout/user/footer.ejs') -%>